<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAM</title>
    <link rel="stylesheet" href="/static/dam/dam.css">
    <script async defer src="{{ js_src_url }}" type="module"></script>
</head>
<body>
    <div id="altcha-content">
        <h1><img src="{{ site_icon_url }}"> {{ request.get_host }}</h1>
        <h2>{{ altcha_message }}</h2>
        <div>
            <form id="altcha-submission">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next_url }}">
                <altcha-widget id="altcha"></altcha-widget>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        window.addEventListener("load", () => {
            document.querySelector("#altcha").configure({
                challenge: {
                    algorithm: "{{ challenge.algorithm }}",
                    challenge: "{{ challenge.challenge }}",
                    salt: "{{ challenge.salt }}",
                    signature: "{{ challenge.signature }}",
                    maxnumber: "{{ challenge.max_number }}",
                },
                auto: "onload",
                debug: false,
                delay: 0,
                hidefooter: true,
                hidelogo: false,
            });
        });
        document.querySelector("altcha-widget").addEventListener("statechange", async (e) => {
            await e.detail;
            if (e.detail.state === "verified") {
                const challengeData = new FormData(document.forms["altcha-submission"]);
                try {
                   const response = await fetch("{% url 'dam:submit_challenge' %}", {
                        method: "POST",
                        body: challengeData,
                    });
                    const result = await response.json();
                    if ("success" in result) {
                        if ("{{ original_referrer }}") {
                            window.history.replaceState({}, "" , "{{ original_referrer }}");
                        }
                        window.location.replace("{{ next_url }}");
                    } else {
                        document.getElementById('altcha-content').textContent = result.error;
                    }
                } catch (error) {
                    console.error("Challenge submission error:", error);
                }
            }
        });
    </script>
</body>
</html>
