:root {
  --altcha-border-width: 1px;
  --altcha-border-radius: 3px;
  --altcha-color-base: #f5f5f5;
  --altcha-color-border: #a0a0a0;
  --altcha-color-text: currentColor;
  --altcha-color-border-focus: currentColor;
  --altcha-color-error-text: #f23939;
  --altcha-color-footer-bg: #f4f4f4;
}

#altcha-content {
  color: #474747;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3 {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 10%;
}

h2 {
  margin-top: auto;
  font-weight: normal;
}

h3 {
  margin-top: 1em;
  font-weight: normal;
}

img {
  height: 1em;
}

#altcha-submission {
  max-width: 45%;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
}

.altcha-spinner path {
  fill: #4299A1;
}

.altcha-checkbox input[type="checkbox"] {
  accent-color: #4299A1;
}
